/***************************************************************************************************
 * StreamDesk 3.0
 * Copyright 2013-2019 NasuTek Global Enterprises
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ***************************************************************************************************/

body {
    margin: 0;
    font-family: RobotoLight, "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif;
    background: #e5e5e5;
}

.error {
    background-color: #ff7d7d;
    border-top: 1px #980000 solid;
    border-bottom: 1px #980000 solid;
    padding: 8px 20px;
}

.warning {
    background-color: #ffe6c6;
    border-top: 1px #daaa4c solid;
    border-bottom: 1px #daaa4c solid;
    padding: 8px 20px;
}

.bl {
    position: fixed;
    z-index: 99;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.dialog {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -200px;
    width: 400px;
    height: 250px;
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: 2px 2px 3px #cdcdcd;
    -webkit-box-shadow: 2px 2px 3px #cdcdcd;
    box-shadow: 1px 1px 4px #cdcdcd;

}

.dialog .about {

}

/* Navigation */

.nav-primary {
    font-size: 13px;
    background: #fafafa;
    height: 28px;
    -moz-box-shadow: 1px 1px 4px #93c517;
    -webkit-box-shadow: 1px 1px 4px #93c517;
    box-shadow: 1px 1px 4px #93c517;
    padding-left: 4px;
}

.navoffline {
    -moz-box-shadow: 1px 1px 4px #8b1f1f;
    -webkit-box-shadow: 1px 1px 4px #8b1f1f;
    box-shadow: 1px 1px 4px #8b1f1f;
}

.nav-sd {
    font-family: RobotoMedium, "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif;
}

.nav-logo {
    width: 20px;
    height: 20px;
    padding: 4px 0 0 4px;
}

.nav-primary ul {
    background: #fafafa;
    list-style: none;
    margin: 0;
    padding: 0;
    -moz-box-shadow: 2px 2px 3px #f0f0f0;
    -webkit-box-shadow: 2px 2px 3px #f0f0f0;
    box-shadow: 1px 1px 4px #f0f0f0;
}

.nav-primary li {
    float: left;
    position:relative;
}

.nav-primary a {
    color: #969696;
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    text-decoration: none;
}

.nav-primary a:hover {
    background: #f5f5f5;
}

.nav-primary ul ul {
    display:none;
    position: absolute;
    top: 28px;
    left: 0;
    width: auto;
}

.nav-primary ul ul li {
    width: 180px;
    border-left: 4px solid #0057ad;
}

.nav-primary ul ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}

.nav-primary ul ul li:hover {
    border-left: 4px solid #2f98ff;
}

.nav-primary ul li:hover {
    background: #f5f5f5;
}

.nav-primary ul li a.mDisabled {
    color: #dbdbdb;
    font-style: italic;
    -o-filter: blur(0.5px);
    -ms-filter: blur(0.5px);
    -moz-filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

.nav-primary ul li:hover > ul {
    display: block;
}

.nav-primary ul ul ul {
    left: 100%;
    top: 0;
}

.tray {
    float: right;
    margin-right: 8px;
    line-height: 28px;
}

.onlineStatus {
    font-family: RobotoRegular, "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif;
    display: none;
    font-size: 11px;
    color: #b2b2b2;

}

.search {
    box-sizing: border-box;
    float: right;
    font-family: RobotoRegular, "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif;
    background: url("../images/search.png") top left no-repeat;
    height: 20x;
    padding-left: 24px;
    padding-top: 4px;
    width: 350px;
    font-size: 12px;
    border-radius: 0;
    border: 1px solid #d8d8d8;
    -moz-box-syhadow: inset 2px 2px 3px #f0f0f0;
    -webkit-box-shadow: inset 2px 2px 3px #f0f0f0;
    box-shadow: inset 1px 1px 4px #f0f0f0;
}

#debug {
    display: none;
}

#streamView {
    margin: 0 auto;
}

#expander {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 36px;
    right: 5px;
    background: url('../images/fullscreen.png') center center no-repeat;
    background-color: #000;
    opacity: 0.3;
    width: 42px;
    height: 42px;
    border-radius: 6px;
    moz-border-radius: 6px;
}

.expanded {
    background: url('../images/expanded.png') center center no-repeat !important;
}

#expander:hover {
    opacity: 0.6;
}

#searchPopup {
    line-height: 1.5;
    margin-top: 32px;
    margin-right: 5px;
    display: none;
    max-width: 350px;
    -webkit-box-shadow: 3px 3px 5px -2px rgba(82,82,82,1);
    -moz-box-shadow: 3px 3px 5px -2px rgba(82,82,82,1);
    box-shadow: 3px 3px 5px -2px rgba(82,82,82,1);
}

.result {
    background: #fff;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    text-overflow: ellipsis;
    padding: 10px 20px;
    margin: 5px 0;
}

.result:hover {
    background: #e6e6e6;
    cursor: pointer;
}

.result h1 {
    display: inline-block;
    line-height: 1.0;
    margin: 0;
}

.result span {
    display: inline-block;
    color: #808080;
}
.result p {
    margin: 0;
}

/* Chrome & Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {

}

/* Firefox */
@-moz-document url-prefix() {

}

/* Opera */
@media (min-resolution: .001dpcm) {
    _:-o-prefocus, input[type=search] {

    };
}

#chatView {
    display: none;
}
